<% provide :title do %>
  <%= t("oecd_representative.header.title") %> - <%= t("oecd_representative.menu.legislation") %> - <%= @process.title %> - <%= t("oecd_representative.legislation.questions.index.title") %> - <%= t("oecd_representative.legislation.questions.new.title") %>
<% end %>

<div class="legislation-questions-new legislation-questions-form">

  <%= back_link_to oecd_representative_legislation_process_questions_path(@process), t("oecd_representative.legislation.questions.new.back") %>

  <h2><%= @process.title %></h2>

  <%= render "oecd_representative/legislation/processes/subnav", process: @process, active: "questions" %>
  <div class="row">
    <div class="small-12 column">
      <h3><%= t("oecd_representative.legislation.questions.new.title") %></h3>
    </div>
  </div>

  <%= render "form", url: oecd_representative_legislation_process_questions_path(@process) %>
</div>
