<%
menu_items = []

if feature?(:debates)
  menu_items.push({ title: t("layouts.header.debates"), href: debates_path, attrs: { accesskey: '1' }, mobileOnly: true })
end

if feature?(:proposals)
  menu_items.push({ title: t("layouts.header.proposals"), href: proposals_path, attrs: { accesskey: '2' }, mobileOnly: true })
end

if feature?(:polls)
  menu_items.push({ title: t("layouts.header.poll_questions"), href: polls_path, attrs: { accesskey: '3' }, mobileOnly: true })
end

if feature?(:legislation)
  menu_items.push({ title: t("layouts.header.collaborative_legislation"), href: legislation_processes_path, attrs: { accesskey: '4' }, mobileOnly: true })
end

if feature?(:budgets)
  menu_items.push({ title: t("layouts.header.budgets"), href: budgets_path, attrs: { accesskey: '5' }, mobileOnly: true })
end

if feature?(:help_page)
  menu_items.push({ title: t("layouts.header.help"), href: help_path, attrs: { accesskey: '6' }, mobileOnly: true })
end

menu_items += [
  {
    "title": "Government After Shock Event",
    "href": "https://oecd-opsi.org/government-after-shock/"
  },
  {
    "title": "Our Work",
    "href": "https://oecd-opsi.org/our-work/",
    "children": [
      {
        "title": "COVID-19 Responses",
        "href": "https://oecd-opsi.org/covid-response/"
      },
      {
        "title": "H2020",
        "href": "https://oecd-opsi.org/our-work/horizon2020/"
      },
      {
        "title": "Toolkit Navigator",
        "href": "https://oecd-opsi.org/toolkit-navigator/"
      },
      {
        "title": "Projects",
        "href": "https://oecd-opsi.org/our-work/projects/"
      },
      {
        "title": "Newsletter",
        "href": "https://oecd-opsi.org/sign-up-to-opsis-newsletter/"
      },
      {
        "title": "Publications",
        "href": "https://oecd-opsi.org/our-work/publications/"
      },
      {
        "title": "Case studies",
        "href": "https://oecd-opsi.org/innovations"
      }
    ]
  },
  {
    "title": "Blog",
    "href": "https://oecd-opsi.org/blog/"
  },
  {
    "title": "About OPSI",
    "href": "https://oecd-opsi.org/about-observatory-of-public-sector-innovation/",
    "children": [
      {
        "title": "About our partners",
        "href": "https://oecd-opsi.org/about-observatory-of-public-sector-innovation/about-our-partners/"
      },
      {
        "title": "About our in-country contacts",
        "href": "https://oecd-opsi.org/about-observatory-of-public-sector-innovation/about-our-in-country-contacts/"
      }
    ]
  },
]

if !user_signed_in?
  menu_items.push(
    { "title": t("devise_views.menu.login_items.login"), "href": new_user_session_path, desktopOnly: true },
    { "title": t("devise_views.menu.login_items.signup"), "href": new_user_registration_path, desktopOnly: true },
  )
end

if show_admin_menu?(current_user)
  menu_items_admin = []
  # menu_items_admin.push({ title: , href:  })

  if current_user.administrator?
    menu_items_admin.push({ title: t("layouts.header.administration"), href: admin_root_path })
  end

  if current_user.oecd_representative?
    menu_items_admin.push({ title: t("layouts.header.oecd_representative"), href: oecd_representative_root_path })
  end

  if show_admin_moderation?
    menu_items_admin.push({ title: t("layouts.header.moderation"), href: moderation_root_path })
  end

  if feature?(:budgets) &&
            (current_user.administrator? || current_user.valuator?)
    menu_items_admin.push({ title: t("layouts.header.valuation"), href: valuation_root_path })
  end

  if current_user.administrator? || current_user.manager?
    menu_items_admin.push({ title: t("layouts.header.management"), href: management_sign_in_path })
  end

  if current_user.poll_officer? && Poll.current.any?
    menu_items_admin.push({ title: t("layouts.header.officing"), href: officing_root_path })
  end

  if current_user.administrator?
    menu_items_admin.push(
      {
        title: t("layouts.header.oecd_representative_requests"),
        href:  admin_oecd_representative_requests_path
      }
    )
  end

  menu_items.push({ title: t("layouts.header.administration_menu"), children: menu_items_admin })
end


if user_signed_in?
  menu_items_user = [
    { title: t("layouts.header.my_activity_link"), href: user_path(current_user) },
    { title: t("layouts.header.my_account_link"), href: account_path },
    { title: t("devise_views.menu.login_items.logout"), href: destroy_user_session_path },
  ]

  menu_items.push(
    { title: render('layouts/header-notifications'), href: notifications_path, desktopOnly: true },
    {
      title: avatar_image(current_user, seed: current_user.id, size: 25),
      href: account_path,
      attrs: { title: t("layouts.header.my_account_link") },
      children: menu_items_user,
      desktopOnly: true,
    }
  )
end

%>

<header class="c-header">
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="c-header__top">
    <div class="row">
      <div class="column hide-for-small-only">
        <% if I18n.available_locales.size > 1 %>
          <div class="float-right c-header__locale" id="js-locale" data-current-locale="<%= I18n.locale %>">
            <form class="c-header__locale-form">
              <label class="c-header__locale-label" for="locale-switcher">
                <%= t("layouts.header.locale") %>
              </label>
              <select class="js-location-changer c-header__locale-select" name="locale-switcher" id="locale-switcher">
                <% I18n.available_locales.map do |loc| %>
                  <option <%= "selected" if loc == I18n.locale %>
                          value="<%= current_path_with_query_params(locale: loc) %>">
                    <%= name_for_locale(loc) %>
                  </option>
                <% end %>
              </select>
            </form>
          </div>
        <% end %>
      </div>

      <div class="column small-12 medium-6 large-4">
        <div class="c-header__logo-wrapper clearfix">
          <%= link_to root_path, accesskey: "0" do %>
            <%= image_tag(image_path_for("logo_custom_header.png"), class: "float-left", alt: t("layouts.header.logo")) %>
          <% end %>
        </div>
      </div>

      <div class="column hide-for-medium c-header__mobile-menu-column">
        <div class="row c-header__mobile-menu-row-top">
          <div class="column small-8">
            <ul class="c-header__mobile-menu-right-list">
              <% if user_signed_in? %>
                <li class="c-header__mobile-menu-right-element">
                  <a class="c-header__mobile-menu-right-link" href="<%= notifications_path %>">
                    <%= render 'layouts/header-notifications' %>
                  </a>
                </li>
                <li class="c-header__mobile-menu-right-element">
                  <button
                    class="c-header__mobile-menu-right-link js-custom-header-toggle"
                    title="<%= t("layouts.header.my_account_link") %>"
                    aria-controls="header-menu-mobile-user"
                    aria-expanded="false"
                  >
                    <%= avatar_image(current_user, seed: current_user.id, size: 25) %>
                  </button>
                </li>
              <% else %>
                <li class="c-header__mobile-menu-right-element">
                  <a class="c-header__mobile-menu-right-link" href="<%= new_user_session_path %>"> <%= t("devise_views.menu.login_items.login") %> </a>
                </li>
                <li class="c-header__mobile-menu-right-element">
                  <a class="c-header__mobile-menu-right-link" href="<%= new_user_registration_path %>"> <%= t("devise_views.menu.login_items.signup") %> </a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="column small-4">
            <div class="float-right">
              <button
                class="c-header__mobile-menu-button js-custom-header-toggle"
                aria-controls="header-menu-mobile"
                aria-expanded="false"
              >
                <span class="show-for-sr">Toggle navigation</span>
                <div class="c-header__mobile-menu-button-bar"></div>
                <div class="c-header__mobile-menu-button-bar"></div>
                <div class="c-header__mobile-menu-button-bar"></div>
              </button>
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="row">
            <div class="c-header__mobile-menu-wrapper" id="header-menu-mobile-user" style="display: none;">
              <ul class="c-header__mobile-menu-list">
                <% menu_items_user.each do |item| %>
                  <li class="c-header__mobile-menu-element">
                    <% a_attrs = item[:href].blank? ? { href: 'javascript:void(0)' } : { href: item[:href] } %>
                    <%= content_tag :a, { class: 'c-header__mobile-menu-link' }.merge(a_attrs).merge(item[:attrs] || {}) do %>
                      <%= item[:title] %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="c-header__mobile-menu-wrapper" id="header-menu-mobile" style="display: none;">
            <ul class="c-header__mobile-menu-list" data-accordion-menu data-submenu-toggle="true">
              <% menu_items.reject{|v| v[:desktopOnly]}.each do |item| %>
                <li class="c-header__mobile-menu-element">
                  <% a_attrs = item[:href].blank? ? { href: 'javascript:void(0)' } : { href: item[:href] } %>
                  <%= content_tag :a, { class: 'c-header__mobile-menu-link' }.merge(a_attrs).merge(item[:attrs] || {}) do %>
                    <%= item[:title] %>
                  <% end %>

                  <% if item.has_key?(:children) %>
                    <ul class="c-header__mobile-submenu">
                      <% item[:children].each do |subitem| %>
                        <li class="c-header__mobile-submenu-element">
                          <%= content_tag :a, { href: subitem[:href], class: 'c-header__mobile-submenu-link'}.merge(subitem[:attrs] || {}) do %>
                            <%= subitem[:title] %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="column medium-6 large-8 hide-for-small-only c-header__desktop-menu-column">
        <ul class="c-header__menu-list float-right">
          <% menu_items.reject{|v| v[:mobileOnly]}.each do |item| %>
            <li class="c-header__menu-element">
              <% a_attrs = item[:href].blank? ? { href: '#', 'aria-hidden': 'true', tabindex: '-1' } : { href: item[:href] } %>
              <%= content_tag :a, { class: 'c-header__menu-link' }.merge(a_attrs).merge(item[:attrs] || {}) do %>
                <%= item[:title] %>
              <% end %>

              <% if item.has_key?(:children) %>
                <div class="c-header__submenu">
                  <div class="row c-header__submenu-row">
                    <div class="column">
                      <ul class="c-header__submenu-list">
                        <% item[:children].each do |subitem| %>
                          <li class="c-header__submenu-element">
                            <%= content_tag :a, { href: subitem[:href], class: 'c-header__menu-link c-header__menu-link--submenu'}.merge(subitem[:attrs] || {}) do %>
                              <%= subitem[:title] %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
          <%= raw content_block("top_links", I18n.locale) %>
        </ul>
      </div>
    </div>
  </div>

  <div id="navigation_bar" class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>
</header>
