<div class="admin-sidebar">
  <ul id="admin_menu" data-accordion-menu data-multi-open="true">

    <li class="section-title">
      <a href="#">
        <span class="icon-comments"></span>
        <strong><%= t("oecd_representative.menu.moderation") %></strong>
      </a>
      <ul id="booths_menu" <%= "class=is-active" if controller_name == "comments" %>>
        <li <%= "class=is-active"  if controller_name == "comments" &&
          action_name == "index" %>>
          <%= link_to t("admin.menu.all_comments"), oecd_representative_moderation_comments_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "comments" &&
          action_name == "to_export" %>>
          <%= link_to t("admin.menu.comments_to_export"), to_export_oecd_representative_comments_path %>
        </li>
      </ul>
    </li>

    <% if feature?(:legislation) %>
      <li class="section-title <%= "is-active" if controller.class.parent == OecdRepresentative::Legislation %>">
        <%= link_to oecd_representative_legislation_processes_path do %>
          <span class="icon-file-text"></span>
          <strong><%= t("admin.menu.legislation") %></strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
