<% provide :title do %>
  <%= t("oecd_representative.header.title") %> - <%= t("oecd_representative.menu.legislation") %> - <%= @process.title %> - <%= t("oecd_representative.legislation.homepage.edit.title") %>
<% end %>

<div class="legislation-admin legislation-process-edit">
  <%= back_link_to oecd_representative_legislation_processes_path, t("oecd_representative.legislation.processes.edit.back") %>

  <h2><%= @process.title %></h2>

  <%= render "oecd_representative/legislation/processes/subnav", process: @process, active: "homepage" %>

  <%= render "form", url: oecd_representative_legislation_process_homepage_path(@process) %>
</div>
